@using AppWeb.Models
@using AppWeb.Ressources

@model List<OffreViewModel>

<div class="py-5 mt-5">
    <div class="container my-5">
        <div class="row">
            @if (ViewContext.RouteData.GetRequiredString("action") == "SearchOffre")
            {
                <div class="col-md-12 row">
                    <h3 class="mb-2 col-md-10"><b>Results for research : @Request.Params["searchText"]"</b></h3>
                    <button onclick="window.location.href='@Url.Action("LitesOffresAsync","Offre")'" type="button" class="close col-md-2 text-light mb-2" data-dismiss="modal">
                        <span>
                            <i class="now-ui-icons ui-1_simple-remove lg"></i>
                        </span>
                    </button>
                </div>
            }
            else
            {
                <div class="col-md-12">
                    <h3 class="mb-2"><b>@ResourceEN.AllOffers</b></h3>
                </div>
            }

        </div>
        <div class="row py-4">
            <div class="col-md-12">
                <div class="input-group border-0">
                    <div class="input-group-prepend">
                        <span class="input-group-text" id="basic-addon1">
                            <i class="now-ui-icons ui-1_zoom-bold lg"></i>
                        </span>
                    </div>
                    <form class="" action="@Url.Action("SearchOffre","Offre")">
                        @Html.TextBox("searchText", null, new { style = "padding: 1.7rem;font-size: large;", @class = "form-control mx-2 form-control-lg", placeholder = ResourceEN.PlaceHolderJob })
                    </form>
                </div>
            </div>
        </div>
        @Html.Partial("_listeOffres", Model)
    </div>
</div>


<div class="py-4">
    <div class="container">
        <div class="row py-5">
            <div class="col-md-8 mx-auto text-center">
                <a class="btn btn-light mr-1 rounded btn-lg text-primary" href="@Url.Action("CreateOfferView","Offre")">
                    <i class="now-ui-icons ui-1_simple-add mr-1"></i> @ResourceEN.CreateOffer
                </a>
            </div>
        </div>
    </div>
</div>


<script>
    $("#searchText").on("keyup", function (e) {
        e.preventDefault();

        let text = $("#searchText").val().toUpperCase();

        $(".cards").each(function (item) {
            if ($(this).find("h3").text().toUpperCase().includes(text)) {
                $(this).show();
            }
            else {
                $(this).hide();
            }
        });

    });
</script>
