@using AppWeb.Models

@model EmployeViewModel


<div class="pt-5 bg-dark align-items-center d-flex bg-dark">
    <div class="container py-5 mt-3">
        <div class="row">
            <div class="col-md-12" style="">
                <h3 class="mb-2 text-light"><b>Account informations</b></h3>
            </div>
            <div class="col-md-8 px-md-5">
                <div class="p-4 col-md-12" style="font-size:1rem;">
                    <p>
                        <i class="now-ui-icons business_badge mr-3 d-inline text-muted"></i>Name : @Model.Prenom @Model.Nom
                    </p>
                    <p>
                        <i class="now-ui-icons ui-1_calendar-60 d-inline mr-3 text-muted"></i>Birth date : @Model.DateNaissance.ToString("dd/MM/yyyy")
                    </p>
                    <p>
                        <i class="now-ui-icons files_paper d-inline mr-3 text-muted"></i>Biography : @Model.Biographie
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>



<div class="py-5 bg-dark text-dark">
    <div class="container">
        <div class="row my-3">
            <div class="col-md-12">
                <h3 class="mb-2 text-light"><b>Formations</b></h3>
            </div>
        </div>
        <div class="row">
            @foreach (var formation in Model.Formations)
            {
                <div class="col-lg-4 p-3 col-md-6 cards">
                    <div class="card">
                        <div class="card-body  bg-light">
                            <h5 class="card-title"><b>@formation.Intitule</b></h5>
                            <h6 class="card-subtitle my-2 text-muted">@formation.Date.ToString("dd/MM/yyyy")</h6>
                            @*<p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>*@
                            <a href="@Url.Action("EditViewAsync","Formation", new { id = formation.Id })" class="card-link">Modifier</a>
                            <a style="cursor:pointer" onclick="supprimer_formation(@formation.Id)" class="card-link text-primary">Supprimer</a>
                        </div>
                    </div>
                </div>
            }
            <div class="col-lg-4 p-3 col-md-6 cards">
                <div class="card text-center" style="opacity:0.3">
                    <a href="@Url.Action("CreateView","Formation")" style="border-color: transparent;" class="btn btn-primary p-5 btn-outline-secondary card-body"><i class="now-ui-icons ui-1_simple-add"></i></a>
                </div>
            </div>
        </div>
    </div>
</div>


<div class="pt-4 bg-dark text-dark">
    <div class="container my-5">
        <div class="row">
            <div class="col-md-12" style="">
                <h3 class="mb-2 text-light"><b>The jobs you are applying for</b></h3>
            </div>
        </div>
        @Html.Partial("_listeOffres", Model.OffresPostulees)
    </div>
</div>

<script>

    function supprimer_formation(id) {
        show_modal_action("Are you sure you want to delete ?", deleteformation, id);
    }

    function deleteformation(id) {
        alert("on supprime " + id);
        @*$.ajax({
            url: "@Url.Action("DeleteFormationAsync", "Formation")",
            type: "POST",
            data: { id: id },
            success: function (data) {
                if (data.error) {
                    show_modal(data.message);
                }
            }
        });*@
    }

</script>